name: Linkspector
on: [pull_request]
jobs:
  check-links:
    name: runner / linkspector
    # Temporarily work around this issue by downgrading the runner OS
    # https://github.com/UmbrellaDocs/action-linkspector/issues/32
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@v1
        with:
          reporter: github-check
          fail_on_error: true
          filter_mode: nofilter